<h1>Discussions</h1>
<p></p>
{% if latest_topic_list %}
    <ul>
    {% for topic in latest_topic_list %}
        <li><a href="{% url 'discussion:detail' topic.id %}">{{ topic.title}}</a></li>
    {% endfor %}
    </ul>
{% else %}
    <p>No discussions are available.</p>
{% endif %}
<p></p>
<p><a href="{% url 'discussion:new' %}">Add New Topic</a></p>

{% load staticfiles %}
<link rel="stylesheet" href="{% static 'css/style.css' %}" />

<link rel="stylesheet" href="{{STATIC_URL}}/css/style.css" />
