<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<head>
{% load staticfiles %}
    <meta http-equiv="Content-type" content="text/html;charset=UTF-8" />
    <meta name="author" content="Licheng Yu" />
    <title>MovieMovie Store</title>
    <script type="text/javascript" src="{% static 'homepage/jquery-1.11.1.js' %}"></script>
	<script type="text/javascript" src="{% static 'homepage/jquery-ui-1.10.4.js' %}"></script>
	<script type="text/javascript" src="{% static 'homepage/jquery.easing.1.3.js' %}"></script>
	<link rel="stylesheet" href="{% static 'payment/store.css' %}" type="text/css"/>
</head>
<body>
<h1 class="title">
<img src="{% static 'payment/img/store_logo.png' %}" alt=""/></h1>

<div class="inner-page">

	<h2 class="m-title">Now In Store </h2>
    <div class="coming-movie" >
    	<div class="imovie">
        	<img class="f-posters" src="{% static 'payment/img/SupermanBook.jpg' %}" />
                <div class="discript">Superman Comic Book</div>
				<div class="discript">$10.00</div>
				<div class="discript">Item ID: 1</div>
        </div>
    	<div class="imovie">
        	<img class="f-posters" src="{% static 'payment/img/TransformerToy.jpg' %}" />
			<div class="discript">Transformer Toy</div>
			<div class="discript">$20.00</div>
			<div class="discript">Item ID: 2</div>
        </div>
        
    	<div class="imovie">
        	<img class="f-posters" src="{% static 'payment/img/MaleficentPoster.jpg' %}" />
			<div class="discript">Maleficent Poster</div>
			<div class="discript">$30.00</div>
			<div class="discript">Item ID: 3</div>
        </div>
        <div class="imovie">
        	<img class="f-posters" src="{% static 'payment/img/FrozenDVD.jpg' %}" />
	        <div class="discript">Frozen DVD</div>
			<div class="discript">$40.00</div>
			<div class="discript">Item ID: 4</div>   
        </div>
        <div class="imovie">
        	<img class="f-posters" src="{% static 'payment/img/NeedForSpeedGame.jpg' %}" />
        	<div class="discript">Nedd For Speed Game</div>
			<div class="discript">$50.00</div>
			<div class="discript">Item ID: 5</div>      	
        </div>
        <div class="imovie">
        	<img class="f-posters" src="{% static 'payment/img/ThorToy.jpg' %}" />
        	<div class="discript">Thor Toy</div>
			<div class="discript">$80.00</div>
			<div class="discript">Item ID: 6</div>      	
        </div>
        
       
    </div>
    <div class="cart">
			<a href="{% url 'payment:cart' %}" >
				<img id="shopping_cart" src="{% static 'payment/img/cart.png' %}" />
			</a>
	</div>


</div>



</body>
</html>
